<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nibExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8285ADF61C59100600C9CA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8285AE0F1C59100700C9CA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8285AE1A1C59100700C9CA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
